<%# coding: UTF-8 -%>
<h1>log in</h1>


<% if @message %>
  <div class="messagebox <%= escape_html @message[:type] %>">
        <%= escape_html @message[:message] %>
  </div>
<% end %>

<%= erb(:_login_form, :layout => false) %>
