<ul>
  <li>
    <strong>feedback over time</strong>
    <br />
    Analyze performance over time using vibrant charts.
  </li>
  <li>
    <strong>map it</strong>
    <br />
    See where the feedback was given. Identify negative hot spots.
  </li>
  <li>
    <strong>schedule reports</strong>
    <br />
    Schedule email reports to be sent to people within your organization.
  </li>
</ul>
