<ul>
  <li>
    <strong>website / mobile feedback</strong>
    <br />
    Improving conversion and driving bottom line results.
  </li>
  <li>
    <strong>in-store feedback</strong>
    <br />
    The power of feedback in the palm of your hand.
  </li>
  <li>
    <strong>product feedback</strong>
    <br />
    Real people, real experience.
  </li>
</ul>
