<ul>
  <li>
    <strong>Default default default</strong>
    <br />
    Analyze performance over time using vibrant charts.
  </li>
  <li>
    <strong>Default 2</strong>
    <br />
    See where the feedback was given. Identify negative hot spots.
  </li>
  <li>
    <strong>More Default Stuff</strong>
    <br />
    Schedule email reports to be sent to people within your organization.
  </li>
</ul>
