<ul>
  <li>
    <strong>Default default default</strong>
    <br />
    Lorem ipsum dolor sit amet consecetur adis alip.
  </li>
  <li>
    <strong>Default 2</strong>
    <br />
    Lorem ipsum dolor sit amet consecetur adis alip.
  </li>
  <li>
    <strong>More Default Stuff</strong>
    <br />
    Lorem ipsum dolor sit amet consecetur adis alip.
  </li>
</ul>
